.header{
  color: orange;
  text-align: center;
}

.container {
  color: brown;

  #time {
    width: 2.1em;
    color: blue;
  }
}

.table {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #4b4242;
    text-align: left;
    padding: 8px;
  }

  .row:hover {
    background-color: aliceblue;
  }

  td:hover {
    background-color: lightblue;
  }
  td:active {
    background-color:rgb(255, 225, 156);
  }
}
